// _event_tablet.scss

// 768px ~ 1279px -----------------------------------------------------------------
@media all and (min-width: 768px) and (max-width: 1279px) {

  .event_total_title {
    width: 200px;

    h2 {
      text-align: center; 
    }
  } // .event_total_title

  .event_area {
    position: relative;
    min-height: 1300px;
    padding: 30px 0;

    .event_tab {
      li {
        margin: 3px 20px 20px 0;
      } // li
    } // .event_tab
  } // .event_area

  .tab_content {
    .event_ing_wrap {
      justify-content: space-around; flex-wrap: wrap;
    } // .event_ing_wrap

  .event {
    margin-left: 2vw; margin-right: 2vw;
    // &:nth-child(2n) { margin-right: 0;}

  } // .event
  } // .tab_content
} // 768px ~ 1279px ===============================================================
