@charset "UTF-8";
// section.scss

@import './common/mixin';

#viewBox {
  width: 100%; max-width: 1920px; height: auto;
  background-color: #fbf4e4;
}

.red {
  color: #f43b00;
}
.red_stroke {
  -webkit-text-stroke: 2px #f43b00;
  color: transparent;
}

.view_01 {
  position: relative;
  width: 100%; height: 896px;
  h2 {
    display: flex; flex-direction: column; 
    position: absolute; top: 50px; right: 50px; z-index: 1;
    // width: 700px; height: auto;
    text-align: left;
    font-size: 120px; font-weight: 700;
  } // h2


  .view_01_img {
    position: absolute; top: 200px; left: 50px;
    width: 1040px; height: 612px;
    background-image: url(../image/img_first.jpg);
  }

  circle {
    width: 156px; height: 156px;
  }
  text {
    transform: rotate(180deg);
  }

} // .view_01 ===============================================================

.view_02 {
  position: relative;
  width: 100%; height: 1176px;

  // text뒤로 사진이 가기 위해 position 사용
  .view_02_text_wrap {
    position: absolute; z-index: 10; top: 200px; left: 0; right: 0;
    margin: auto;
  }
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .view_02_big{
    margin-bottom: 80px;
    font-size: 120px; font-weight: 900;

  }
  .view_02_normal {
    font-size: 20px;
  }
  

  .circle_01 {
    position: absolute; top: 0; right: -10px;
    width: 419px; height: 424px;
    @include img('circle_img.png');
  }
  .circle_02 {
    position: absolute; left: -77px; bottom: 350px;
    width: 300px; height: 300px;
    @include img('circle_big.svg');
  }
  .circle_03 {
    position: absolute; left: 200px; bottom: 250px;
    width: 77px; height: 61px;
    @include img('circle_small.svg');
  }
} // .view_02 ===============================================================