@charset "UTF-8";
/* c_12_responsive_test2.css */

#wrap { width: 100%; height: auto;}

#headBox { 
  position: fixed;
  width: 100%; height: 60px;
  padding: 5px 10px;
  background-color: #333;
}
  h1 { 
    float: left;
    background-color: #33b88f;
  }
  .menu_area { float: right; }
    .menu_1 { float: left; height: 100%; background-color: #33b88f;}
    .menu_2 { float: right; height: 100%; background-color: #33b88f;}
    

#viewBox { width: 100%; background-color: #ba7;}

#contentBox { 
  width: 100%; 
  padding: 10px;
  background-color: #547d77;
}
  .title_shape { width: 192px; height: 156px; background-color: #33b88f;}

#infoBox { width: 100%;}
  .new_area { height: 100%; background-color: #957DE9;}
  .notice_area {display: none; height: 100%; background-color: #95ABE9;}
  .more_content {display: none; height: 100%; background-color: #95D2E9;}

#footBox { width: 100%; background-color: #333;}
  h2 {display: none;}

/* ~ 479px */
@media screen and (max-width: 479px) {
  #headBox { height: 40px;}
    h1 { width: 100px; height: 30px;}
    .menu_area { width: 60px; height: 25px;}
      .menu_1 { width: 24px;}
      .menu_2 { width: 25px;}
  #viewBox { height: 480px;}
  #contentBox { height: 480px;}
  #infoBox { height: 480px;}
  #footBox { height: 40px;} 
} /* ~ 479px =============================================== */

/* 480px ~ 767px */
@media screen and (min-width: 480px) and (max-width: 767px) {
  #headBox { }
    h1 { width: 126px; height: 30px;}
  #viewBox {}
  #contentBox {}
  #infoBox {}
  #footBox {} 
} /* 480px ~ 767px ============================================= */

/* 768px ~ 959px */
@media screen and (min-width: 768px) and (max-width: 959px) {
  #headBox {}
  #viewBox {}
  #contentBox {}
  #infoBox {}
  #footBox {} 
} /* 768px ~ 959px ============================================ */

/* ~ 960px */
@media screen and (min-width: 960px) {
  #headBox {}
  #viewBox {}
  #contentBox {}
  #infoBox {}
  #footBox {} 
} /* ~ 960px ================================================== */


/* 
#headBox {}
#viewBox {}
#contentBox {}
#infoBox {}
#footBox {} 
*/