@charset "UTF-8";
// menu.scss
/* menu.css */

// 변수 ----------------------------------------------------

// @mixin ----------------------------------------------------

// design ----------------------------------------------------

#wrap { width: 1440px; height: auto; margin: auto;}
  #headBox { width: 100%; height: 100px; background-color: #ccc;}
  #contrentBox { width: 100%; height: 1000px; background-color: #fff;}
  #footBox { width: 100%; height: 450px;}