// _main_event.scss

#eventBox {
  width: 100%; height: auto;
  margin-top: 20px;
  padding: 10vw;
  // overflow: hidden;

  .event_area {
    display: flex;
    overflow: hidden;
    margin: auto;

    @at-root .event {
      // margin-left: 20px;
      a {
        @include full;
        .event_img {
          background-color: $color_gray;
        }
        .event_title {
          height: 35px;
          margin-top: 10px;
          font-size: 18px; font-weight: 700;
        }
        .event_detail {
          width: 320px; height: 35px;
        }
      } // a

      &:nth-child(1) .event_img { @include img('event_01.jpg', $size: cover); }
      &:nth-child(2) .event_img { @include img('event_02.png', $size: cover); }
      &:nth-child(3) .event_img { @include img('event_04.png', $size: cover); }
      &:nth-child(4) .event_img { @include img('event_03.jpg', $size: cover); }
    } // .event
  } // .event_area
} // #eventBox

@import './main_event_handhelds';
@import './main_event_pc';