// _main_bestBox_pc.scss

// 1280px ~ ----------------------------------------------------------------
@media all and (min-width: 1280px){
  #bestBox {
    width: 100%; height: auto;
    margin-top: 20px;
    padding: 80px;
    
    @at-root .best_area {
      display: flex; justify-content: space-between; flex-wrap: nowrap;
      overflow: hidden;
      // width: 78.125vw; 
      width: 100%; height: 420px;
      margin: auto;
  
      .best_item {
        // float: left;
        width: 320px; height: 420px;
        margin-left: 20px;
  
        &:first-child { margin-left: 0;}
        a { 
          @include full;
          .best_img {
            width: 320px; height: 320px;
            background-color: rgb(127, 98, 255, 0.5);
          }
          .best_text {
            width: 320px; height: 100px;
            padding: 0 10px;
            /* background-color: var(--color-sample1); */
          }
        } // a
      } // .best_item
    } // .best_area
  } // #bestBox

} // 1280px ~ ====================================================================
