// _main_bestBox_handhelds.scss

// ~1279px ------------------------------------------------------
@media all and (max-width: 1279px){

  .title_all { display: none;}

  #bestBox {
    overflow: auto;
    min-height: 480px;
    -ms-overflow-style: none; // IE and Edge 스크롤바 없애기
    scrollbar-width: none; // Firefox 스크롤바 없애기

    &::-webkit-scrollbar {
      display: none; // Chrome, Safari, Opera 스크롤바 없애기
    }
  } // #bestBox


  .best_area {
    justify-content: space-between; flex-wrap: nowrap;
    width: auto; height: 400px;
  } // .best_area
  
  .best_item {
    width: 200px; height: 340px;
    margin-top: 10px;

    a {
      .best_img {
        width: 200px; height: 200px;
      }
      .best_text {
        width: 200px;
      }
    } // a
  } // .best_item
} // ~1279px ===============================================================
