// _main_awards.scss


#awardsBox {
  width: 100%;
  margin-top: 20px;
  background-color: $color_primary_light;
  padding-top: 80px;
  overflow: hidden;

  .awards_title {
    width: 280px; height: 60px;
    margin: auto;
    background-color: $color_primary;
    border-radius: 30px;
    font-size: 22px; font-weight: 700;
    text-align: center; line-height: 60px;
    color: $color_white;
  } // .awards_title
} // #awardsBox

.awards_area {
  width: 100%;
  margin: auto; margin-top: 50px;

  .awards_part {
    position: relative;
    width: 100%; max-width: 1920px; height: 100%;
    margin: auto;
  }
} // .awards_area

.awards_main {
  display: flex; justify-content: space-between;
  // margin: auto;

  .awards {
    background-color: $color_gray;
    transition: all 500ms ease;

    &.awards_01{@include img('awards_01.jpg', $size: cover)}
    &.awards_02{@include img('awards_02.jpg', $size: cover)}
    &.awards_03{@include img('awards_03.jpg', $size: cover)}
    &.awards_04{@include img('awards_04.jpg', $size: cover)}
    &.awards_05{@include img('awards_05.jpg', $size: cover)}
    &.awards_06{@include img('awards_06.jpg', $size: cover)}
    &.awards_07{@include img('awards_07.jpg', $size: cover)}
    &.awards_08{@include img('awards_08.jpg', $size: cover)}
    
  }
} // .awards_main

// .black::after {
//   content: ""; display: block;
//   width: 100%; height: 100%;
//   background-color: rgba($color_black, 0.5);
// }

@import './main_awards_handhelds';
@import './main_awards_pc';
