// _main_benefit_handhelds.scss

// ~1279px ------------------------------------------------------
@media all and (max-width: 1279px){

  #benefitBox {
    padding: 20px;
  } // #benefitBox

  .benefit_title_area {
    margin-bottom: 30px;
  } // .benefit_title_area

  .benefit_detail_area {
    width: 100%; height: auto;

    .benefit {
      min-width: 340px; width: 58.6vw; max-width: 380px; height: 100px;

      .benefit_img {
        float: left;
      }
      .benefit_img_coupon { @include img($file:'wallet.png', $size: 70% auto)};
      .benefit_img_review { @include img($file:'coin.png', $size: 70% auto)};
      .benefit_img_friend { @include img($file:'hands.png', $size: 70% auto)};

      .benefit_text { 
        float: left; 
        width: auto; height: auto;
        // margin-top: 10px; 
        margin-left: 30px;
        line-height: 30px;
      }
    } // .benefit
  } // .benefit_detail_area
} // ~1279px ===============================================================