// _main_bestBox.scss

#bestBox {
  width: 100%; max-width: 1920px; height: auto; margin: auto;
  // padding: 10vw;
  padding: 80px;

  a:hover { outline: 2px solid $color_black; border-radius: 4px; }
  
  @at-root .best_area {
    display: flex; 
    height: 430px;
    margin: auto;
    margin-top: 20px;
    padding: 5px 0;

    .best_item {
      float: left;
      margin-bottom: 10px;
      margin-left: 20px;

      &:first-child { margin-left: 0;}
      a { 
        @include full;
        .best_img {
          border-radius: 8px;
          background-color: rgba($color_primary_light, 0.4);
        }
        .best_text {
          width: 320px; height: 100px;
          padding: 0 10px;
          /* background-color: var(--color-sample1); */
        }
      } // a

      &:nth-child(1) .best_img { @include img('cube_01.png'); }
      &:nth-child(2) .best_img { @include img('cube_02.png'); }
      &:nth-child(3) .best_img { @include img('cube_03.png'); }
      &:nth-child(4) .best_img { @include img('cube_04.png'); }
      &:nth-child(5) .best_img { @include img('cube_05.png'); }
      &:nth-child(6) .best_img { @include img('cube_06.png'); }
      &:nth-child(7) .best_img { @include img('cube_07.png'); }
      &:nth-child(8) .best_img { @include img('cube_08.png'); }
    } // .best_item
  } // .best_area
} // #bestBox

@import './main_bestBox_handhelds';
@import './main_bestBox_pc';;