// _main_awards.scss


#awardsBox {
  width: 100%;
  margin-top: 20px;
  background-color: $color_primary_light;
  padding-top: 80px;
  overflow: hidden;

  .awards_title {
    width: 280px; height: 60px;
    margin: auto;
    background-color: $color_primary;
    border-radius: 30px;
    font-size: 22px; font-weight: 700;
    text-align: center; line-height: 60px;
    color: $color_white;
  } // .awards_title
} // #awardsBox

.awards_area {
  width: 100%;
  margin: auto; margin-top: 50px;

  .awards_part {
    position: relative;
    width: 100%; max-width: 1920px; height: 100%;
    margin: auto;
  }
} // .awards_area

.awards_main {
  display: flex; justify-content: space-between;
  // margin: auto;
  

  .awards {
    // background-color: $color_gray;
    transition: all 500ms linear;

    &.awards_01{@include img('awards_01.png', $size: cover)}
    &.awards_02{@include img('awards_02.png', $size: cover)}
    &.awards_03{@include img('awards_03.png', $size: cover)}
    &.awards_04{@include img('awards_04.png', $size: cover)}
    &.awards_05{@include img('awards_05.png', $size: cover)}
    &.awards_06{@include img('awards_06.png', $size: cover)}
    &.awards_07{@include img('awards_07.png', $size: cover)}
    &.awards_08{@include img('awards_08.png', $size: cover)}
    
  }
} // .awards_main


@import './main_awards_handhelds';
@import './main_awards_pc';
