// _main_bestBox.scss

#bestBox {
  width: 100%; height: auto;
  padding: 10vw;
  
  @at-root .best_area {
    display: flex; 
    height: 420px;
    margin: auto;
    margin-top: 20px;

    .best_item {
      float: left;

      margin-left: 20px;

      &:first-child { margin-left: 0;}
      a { 
        @include full;
        .best_img {
          background-color: rgb(127, 98, 255, 0.5);
        }
        .best_text {
          width: 320px; height: 100px;
          padding: 0 10px;
          /* background-color: var(--color-sample1); */
        }
      } // a
    } // .best_item
  } // .best_area
} // #bestBox

@import './main_bestBox_handhelds';
@import './main_bestBox_pc';;