// _main_bestBox_handhelds.scss

// ~1279px ------------------------------------------------------
@media all and (max-width: 1279px){

  .title_all { display: none;}

  #bestBox {
    overflow: hidden;
    min-height: 480px;

    @at-root .best_area {
      justify-content: space-between; flex-wrap: nowrap;
      width: auto; height: 240px;


      .best_item {
        width: 140px; height: 240px;
        margin-top: 10px;

        a {
          .best_img {
            width: 140px; height: 140px;
          }
          .best_text {
            width: 140px;
          }
        } // a
      } // .best_item
    } // .best_area
  } // #bestBox
} // ~1279px ===============================================================
