// _main_challengeBox.scss

#challengeBox {
  width: 100%; height: auto;
  margin-top: 20px;
  padding: 40px;

  .challenge_area {
    display: flex; justify-content: space-between;
    width: 78.125vw; height: 32.8125vw;
    margin: auto;

    @at-root .challenge {
      width: 35.15625vw; height: 100%;
      margin: auto;
      background-color: #eee;

      a { @include full; }
    }
  } // .challenge_area
} // #challengeBox

