@charset "UTF-8";
// main_v2.scss
/* main_v2.css */

@import '../common/mixin';
@import '../common/variable';
@import './main/main_common';


html, body { color: #171717; font-weight: 400;}

#wrap { width: 100%; height: auto;}

@media all and (max-width: 1279px){
  .title_all { display: none;}
}

@import '../common/headBox';
@import '../common/footBox';

@import './main/main_viewBox';
@import './main/main_bestBox';
@import './main/main_benefitBox';
@import './main/main_challengeBox';
@import './main/main_event';
@import './main/main_awards';

/*
// ~1279px ------------------------------------------------------
@media all and (max-width: 1279px){


} // ~1279px ===============================================================

// 1280px ~ ----------------------------------------------------------------
@media all and (min-width: 1280px){


} // 1280px ~ ====================================================================
*/
