@charset "UTF-8";
/* c_06_photoshop_layout.css */

#wrap {
  width: 980px; height: 850px;
  margin: auto;
}

/* .headBox -------------------------------------------------------- */
.headBox {
  float: left;
  width: 250px;
  height: 710px;
  margin-top: 30px;
  padding: 50px;
  background-color: #777;
}

  h1 {
    width: 150px;
    height: 100px;
    background-color: #afd;
    margin-bottom: 20px;
  }

  /* .navigation {} */
  .navigation li {
    width: 130px; height: 30px;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
  }

  .navigation p {
    float: left;
  }

  .btn {
    float: right;
    width: 10px; height: 10px;
    margin-top: 5px;
    background-color: #ddd5;
  }

  .qna {
    width: 110px; height: 110px;
    background-color: #fff;
    border-radius: 100%;
    font-size: 50px;
    text-align: center; line-height: 110px;
    text-transform: uppercase;
    color: #adadad;
  }

/* .viewBox -------------------------------------------------------- */
.viewBox {
  position: relative;
  float: left;
  width: 730px; height: 710px;
  margin-top: 30px;
  background-color: #aaa;
}

  .pc {
    position: absolute;
    top: 100px; left: 100px; z-index: 1;
    width: 330px; height: 520px;
    background-color: #eee;
  }

  .text {
    position: absolute;
    top: 110px; right: 20px;
    width: 300px; height: 450px;
    background-color: #ddd;
  }
/* .sideBox -------------------------------------------------------- */
.sideBox {
  position: fixed;
  top: 0; left: 0; right: 0;
  width: 980px;
  height: 30px;
  margin: auto;
  background-color: #888;
}

  .sideBox > ul {
    float: right;
    width: 435px; height: 30px;
  }

  .sideBox li {
    float: left;
    width: 95px; height: 30px;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    color: #fff;
  }

  .sideBox li:nth-of-type(2) {
    background-color: #555;
  }
  .sideBox li:last-child {
    width: 245px; padding: 0 10px;
    color: #171717;
    background-color: #fff30d;
    text-align: left;
  }

  .education p {
    float: left;
  }
  .side_btn {
    float: right;
    width: 60px; height: 12px;
    margin-top: 10px;
    background-color: #3335;
  }

/* .footBox -------------------------------------------------------- */
.footBox{
  position: relative;
  float: left;
  width: 980px;
  height: 110px;
  padding: 10px 30px;
  background-color: #fff;
}

  .footBox h2 {
    float: left;
    width: 80px; height: 53px;
    background-color: #ddd;
  }

  .location_sns {
    float: left;
    margin: auto;
    margin : 10px 30px;
    padding: 15px 0;
  }
    .location {
      float: left;
      width: 30px; height: 30px;
      margin-right: 10px;
      background-color: #eee;
    }

    .facebook {
      float: left;
      width: 30px; height: 30px;
      background-color: #eee;
    }

  .company_info {
    float: left;
    margin: 10px;
    padding: 10px 30px;
    font-size: 14px;
  }

  .family_narr {
    position: absolute;
    top: 10px; right: 10px;
    width: 300px; height: 100px;
    margin-right: 0;
  }

    .family_narr dl {
      width: 300px; height: 60px;
    }

    .family_narr dt {
      float: left;
      width: 95px; height: 30px;
      background-color: #555;
      text-align: center;
      color: #fff;
    }


    .family_narr dt:nth-of-type(1) {
      border-bottom: 1px solid #606060;
    }

    .family_narr dd {
      float: left;
      width: 200px; height: 30px;
      padding: 0 5px;
      font-size: 14px;
      line-height: 30px;
    }

    .family_narr dd:nth-of-type(1) {
      background-color: #baa50c;
      color: #fff;
    }

    .family_narr dd:last-child {
      background-color: #fff30d;
      color: #7d7d7d;
    }
    

    .family_narr > p {
      width: 210px; height: auto;
      margin-left: 90px;
      font-size: 12px;
      color: #adadad;
    }