/* event_v2.css */
.title_area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin: auto;
  margin-bottom: 20px;
  /* background-color: var(--color-sample1); */
}

.title_text {
  width: 60vw;
  max-width: 500px;
  height: 60px;
}

.title {
  width: 250px;
  height: 30px;
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.sub_title {
  width: 100%;
  max-width: 500px;
  height: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.title_all {
  width: 12vw;
  min-width: 90px;
  height: 30px;
  margin-top: 30px;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}

.text_title {
  width: 100%;
  height: 33px;
  display: block;
  font-size: 18px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text_price {
  width: 100%;
  height: 33px;
  display: block;
  font-size: 16px;
  font-weight: 700;
}

.text_detail {
  width: 100%;
  height: auto;
  min-height: 33px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
}

html, body {
  color: #1c1c1c;
  font-weight: 400;
}

#wrap {
  width: 100%;
  height: auto;
}

#headBox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
#headBox a:hover {
  outline: 2px solid #1c1c1c;
  border-radius: 4px;
  text-decoration: none;
}
#headBox button:hover {
  outline: 2px solid #1c1c1c;
  border-radius: 4px;
}

.head_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

@media all and (max-width: 1279px) {
  #headBox {
    height: 19.5vw;
    max-height: 150px;
    padding: 3.9vw 10vw;
  }

  h1 {
    min-width: 100px;
    width: 22.1vw;
    max-width: 170px;
    min-height: 20px;
    height: 5.2vw;
    max-height: 40px;
  }
  h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../img/logo-cubeme-text.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  h1 a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  #navigation {
    display: none;
  }

  #hand_nav {
    display: block;
    display: flex;
    justify-content: space-between;
    min-width: 150px;
    width: 30vw;
    max-width: 230px;
    height: auto;
  }
  #hand_nav button {
    min-width: 25px;
    width: 5.2vw;
    max-width: 40px;
    min-height: 25px;
    height: 5.2vw;
    max-height: 40px;
  }

  .hand_language {
    position: relative;
    min-width: 25px;
    width: 5.2vw;
    max-width: 40px;
    min-height: 25px;
    height: 5.2vw;
    max-height: 40px;
    background-image: url(../../img/global.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  .hand_language > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .hand_language_area {
    display: none;
    position: absolute;
    bottom: -90px;
    right: -25px;
    width: 100px;
    height: auto;
    background-color: rgba(255, 241, 224, 0.8);
  }
  .hand_language_area.on {
    display: block;
  }
  .hand_language_area li {
    margin-bottom: 10px;
  }
  .hand_language_area li:last-child {
    margin-bottom: 0;
  }
  .hand_language_area li button {
    display: block;
    width: 100%;
    height: 100%;
  }
  .hand_language_area li button:hover {
    background-color: #e17900;
    color: #ffffff;
  }

  .hand_language:hover ul {
    display: block;
  }
  .hand_language:focus ul {
    display: block;
  }

  .hand_search {
    background-image: url(../../img/search.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .hand_search > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .hand_cart {
    background-image: url(../../img/cart.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .hand_cart > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .hand_menu {
    background-image: url(../../img/menu.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .hand_menu > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .side_menu {
    display: none;
    position: fixed;
    z-index: 150;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    float: right;
    width: 100vw;
    height: 100vh;
    background-color: rgba(28, 28, 28, 0.4);
  }

  .side_menu_area {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 78.125vw;
    height: 100%;
    padding: 30px;
    background-color: #fff;
  }
  .side_menu_area .close_btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-image: url(../../img/close.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .side_menu_area .close_btn > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .side_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 70px;
  }

  .side_language {
    position: relative;
    width: 80px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .side_language::before {
    position: absolute;
    top: 3px;
    right: -20px;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    transform: rotate(-45deg);
  }
  .side_language::before:hover {
    outline: 2px solid #1c1c1c;
    border-radius: 4px;
  }
  .side_language .language_check {
    width: 100%;
    height: 30px;
    text-align: center;
  }
  .side_language > div {
    display: none;
    width: 100%;
    height: 30px;
    position: relative;
    z-index: 10;
    background-color: #fff1e0;
    text-align: center;
  }

  .side_user {
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 20px;
  }

  .side_menu_part {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .side_menu_part > li {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
  }
  .side_menu_part .shop_sub_menu {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 20px;
  }
  .side_menu_part .shop_sub_menu > li {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
  }

  .side_footer_area {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    margin: auto;
    background-color: #ebebeb;
  }

  .side_footer {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 100%;
    margin: auto;
  }
  .side_footer li {
    position: relative;
    width: 100px;
    height: 100%;
    font-size: 18px;
    text-align: center;
    line-height: 70px;
  }
  .side_footer li:first-child::after {
    position: absolute;
    top: 20px;
    right: 0;
    content: "";
    display: block;
    width: 0.5px;
    height: 30px;
    background-color: #333;
  }
}
@media all and (min-width: 1280px) {
  #headBox {
    height: 150px;
    padding: 30px 100px;
  }

  h1 {
    width: 170px;
    height: 60px;
  }
  h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../img/logo-cubeme-text.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  h1 a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  #naviagtion {
    display: block;
  }

  #hand_nav {
    display: none;
  }

  #gnb ul {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 39vw;
    max-width: 750px;
    height: 40px;
    margin: auto;
    margin-top: 50px;
  }
  #gnb ul li {
    width: auto;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
  }
  #gnb ul li a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .unb {
    width: 300px;
    height: auto;
  }

  .unb_btn {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 30px;
    margin: auto;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  .unb_btn > li {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    margin-right: 8px;
    padding-right: 8px;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
  }
  .unb_btn > li::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    width: 1px;
    height: 15px;
    background-color: #999;
  }
  .unb_btn > li:last-child::after {
    display: none;
  }
  .unb_btn .unb_language {
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: 30px;
    cursor: pointer;
    background-image: url(../../img/global.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .unb_btn .unb_language > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .unb_btn .unb_language:hover {
    outline: 2px solid #1c1c1c;
    border-radius: 4px;
  }
  .unb_btn .unb_sign {
    color: #EC0F0C;
  }

  .unb_lauguage_area {
    display: none;
    position: absolute;
    z-index: 10;
    top: 30px;
    left: -50px;
    width: 100px;
    height: auto;
    background-color: rgba(255, 241, 224, 0.8);
  }
  .unb_lauguage_area li {
    margin: auto;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .unb_lauguage_area li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .unb_lauguage_area li a:hover {
    background-color: #e17900;
    color: #ffffff;
  }

  .unb_search_area {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    margin: auto;
    margin-right: 10px;
  }

  .unb_search {
    position: relative;
    width: 160px;
    height: 30px;
    margin: auto;
    margin-right: 10px;
    border-radius: 15px;
  }

  #search_bar {
    width: 160px;
    height: 30px;
    border-radius: 15px;
    text-indent: 8px;
    background-color: #ebebeb;
  }

  .unb_search_icon {
    position: absolute;
    top: 4px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
  .unb_search_icon button {
    width: 100%;
    height: 100%;
    background-image: url(../../img/search.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .unb_search_icon button > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .unb_cart {
    width: 24px;
    height: 24px;
    margin: auto;
    margin-top: 3px;
  }
  .unb_cart a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../img/cart.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .unb_cart a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@media all and (max-width: 767px) {
  #footBox {
    width: 100%;
    height: 400px;
    padding: 7.8125vw;
    background-color: #1c1c1c;
  }

  .foot_top_area {
    width: 100%;
    height: 120px;
    margin: auto;
    margin-bottom: 40px;
  }
  .foot_top_area h2 {
    width: 112px;
    height: 30px;
    margin-bottom: 60px;
    background-image: url(../../img/footer-logo-text.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_top_area h2 > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .foot_top_area .foot_top_btn {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    height: auto;
    max-height: 30px;
    margin: auto;
    font-size: 16px;
    text-align: left;
    color: #ebebeb;
  }
  .foot_top_area .foot_top_btn > div {
    margin-right: 20px;
    line-height: 30px;
  }
  .foot_top_area .foot_top_btn > div:last-child {
    margin-right: 0;
  }

  .foot_main_area {
    position: relative;
    width: 78.125vw;
    max-width: 800px;
    height: auto;
    margin: auto;
  }
  .foot_main_area .foot_main_btn {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    font-size: 16px;
    text-align: left;
    color: #ebebeb;
    margin-bottom: 30px;
  }
  .foot_main_area .foot_main_btn li {
    position: relative;
    margin-right: 15px;
  }
  .foot_main_area .foot_main_btn .dot {
    width: 3px;
    height: 3px;
    background-color: #ebebeb;
    transform: translateY(12px);
  }
  .foot_main_area .foot_main_btn li:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .foot_main_area .foot_main_btn li:last-child::after {
    display: none;
  }
  .foot_main_area .foot_main_btn .foot_personal {
    font-weight: 700;
  }
  .foot_main_area .foot_main_btn a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .foot_info p {
    display: none;
  }
  .foot_info p.copyright {
    display: block;
    width: 43.75vw;
    max-width: 336px;
    height: auto;
    color: #ebebeb;
  }

  .foot_bottom_btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: auto;
  }
  .foot_bottom_btn li {
    margin-right: 20px;
  }
  .foot_facebook a {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/facebook_white.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_facebook a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .foot_instagram a {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/instagram_white.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_instagram a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #footBox {
    width: 100%;
    height: 400px;
    padding: 7.8125vw;
    background-color: #1c1c1c;
  }

  .foot_top_area {
    width: 100%;
    height: 120px;
    margin: auto;
    margin-bottom: 40px;
  }
  .foot_top_area h2 {
    width: 112px;
    height: 30px;
    margin-bottom: 60px;
    background-image: url(../../img/footer-logo-text.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_top_area h2 > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .foot_top_area .foot_top_btn {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    height: auto;
    max-height: 30px;
    margin: auto;
    font-size: 16px;
    text-align: left;
    color: #ebebeb;
  }
  .foot_top_area .foot_top_btn > div {
    margin-right: 20px;
    line-height: 30px;
  }
  .foot_top_area .foot_top_btn > div:last-child {
    margin-right: 0;
  }

  .foot_main_area {
    position: relative;
    width: 78.125vw;
    max-width: 800px;
    height: auto;
    margin: auto;
  }

  .foot_main_btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    font-size: 16px;
    text-align: left;
    color: #ebebeb;
    margin-bottom: 30px;
  }
  .foot_main_btn li {
    position: relative;
    margin-right: 15px;
  }
  .foot_main_btn .dot {
    width: 3px;
    height: 3px;
    background-color: #ebebeb;
    transform: translateY(12px);
  }
  .foot_main_btn li:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .foot_main_btn li:last-child::after {
    display: none;
  }
  .foot_main_btn .foot_personal {
    font-weight: 700;
  }
  .foot_main_btn a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .foot_info p {
    display: none;
  }
  .foot_info p.copyright {
    display: block;
    width: 43.75vw;
    max-width: 336px;
    height: auto;
    margin: auto;
    color: #ebebeb;
  }

  .foot_bottom_btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: auto;
  }
  .foot_bottom_btn li {
    margin-right: 20px;
  }
  .foot_facebook a {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/facebook_white.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_facebook a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .foot_instagram a {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/instagram_white.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_instagram a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@media all and (min-width: 1280px) {
  #footBox {
    width: 100%;
    height: 600px;
    margin: auto;
    padding: 70px 60px;
    background-color: #1c1c1c;
  }

  .foot_top_area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    height: 40px;
    margin: auto;
    margin-bottom: 30px;
  }
  .foot_top_area h2 {
    width: 112px;
    height: 30px;
    background-image: url(../../img/footer-logo-text.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_top_area h2 > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .foot_top_area .foot_top_btn {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 30px;
    font-size: 16px;
    text-align: left;
    color: #ebebeb;
  }
  .foot_top_area .foot_top_btn > div {
    margin-right: 20px;
    line-height: 30px;
  }
  .foot_top_area .foot_top_btn > div:last-child {
    margin-right: 0;
  }

  .foot_main_area {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 300px;
    margin: auto;
  }

  .foot_main_btn {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 30px;
    font-size: 16px;
    text-align: left;
    color: #ebebeb;
  }
  .foot_main_btn li {
    position: relative;
    margin-right: 15px;
  }
  .foot_main_btn .dot {
    width: 3px;
    height: 3px;
    background-color: #ebebeb;
    transform: translateY(12px);
  }
  .foot_main_btn li:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .foot_main_btn li:last-child::after {
    display: none;
  }
  .foot_main_btn .foot_personal {
    font-weight: 700;
  }
  .foot_main_btn a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .foot_info {
    width: 600px;
    height: 250px;
    margin-top: 40px;
  }
  .foot_info p {
    display: block;
    margin-bottom: 20px;
    color: #ebebeb;
  }
  .foot_info p:last-child {
    margin-bottom: 0;
  }

  .foot_bottom_btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: auto;
  }
  .foot_bottom_btn li {
    margin-right: 20px;
  }
  .foot_facebook a {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/facebook_white.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_facebook a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .foot_instagram a {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/instagram_white.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_instagram a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
#eventBox {
  width: 100%;
  height: auto;
  margin-top: 150px;
}
#eventBox .event_total_title {
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
}
#eventBox .event_total_title h2 {
  width: 100%;
  height: 100%;
  font-size: 36px;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;
}

.event_area {
  position: relative;
  width: 93.75vw;
  height: auto;
  margin: auto;
}

.event_tab {
  width: 84.375vw;
  max-width: 1200px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid #333;
}
.event_tab li {
  float: left;
  padding: 0 10px;
  padding-bottom: 11px;
}
.event_tab li.on {
  border-bottom: 3px solid #1c1c1c;
}
.event_tab li.on button {
  font-weight: 700;
}

.tab_content {
  width: 84.735vw;
  height: auto;
  min-height: 820px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 200px;
}

.event_ing_wrap {
  display: flex;
  width: 100%;
  height: auto;
}

.event {
  position: relative;
  width: 39vw;
  max-width: 300px;
  height: auto;
  max-height: 380px;
  margin-bottom: 60px;
}
.event .event_img {
  width: 39vw;
  height: 39vw;
  max-height: 300px;
  background-color: #ebebeb;
}
.event .event_title {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.event .event_date {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.event .event_hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.2);
  text-align: center;
  line-height: 380px;
  color: #ffffff;
  text-decoration: underline;
  font-size: 22px;
}
.event:hover .event_hover {
  display: block;
}
.event > a:focus .event_hover {
  display: block;
  border: 3px solid #1c1c1c;
}

.event_more {
  position: absolute;
  bottom: 110px;
  left: 50%;
  width: 300px;
  height: 60px;
  margin-left: -150px;
  border-radius: 10px;
  font-size: 18px;
  line-height: 60px;
  color: #ffffff;
  background-color: #333;
}
.event_more:hover {
  border: 3px solid #1c1c1c;
  background-color: #ffffff;
  color: #1c1c1c;
  font-weight: 700;
}
.event_more:focus {
  border: 3px solid #1c1c1c;
  background-color: #ffffff;
  color: #1c1c1c;
  font-weight: 700;
}

@media all and (max-width: 767px) {
  #eventBox .event_total_title {
    width: 200px;
  }
  #eventBox .event_total_title h2 {
    text-align: center;
  }

  .event_area {
    position: relative;
    min-height: 1300px;
    padding: 30px 0;
  }
  .event_area .event_tab li {
    margin: 3px auto 20px 0;
  }

  .event_ing_wrap {
    flex-direction: column;
    justify-content: flex-start;
  }

  .event {
    margin: auto;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .event_total_title {
    width: 200px;
  }
  .event_total_title h2 {
    text-align: center;
  }

  .event_area {
    position: relative;
    min-height: 1300px;
    padding: 30px 0;
  }
  .event_area .event_tab li {
    margin: 3px 20px 20px 0;
  }

  .tab_content .event_ing_wrap {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .tab_content .event {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}
@media all and (min-width: 1280px) {
  #eventBox .event_total_title {
    width: 84.375vw;
    max-width: 1200px;
  }
  #eventBox .event_total_title h2 {
    text-align: left;
  }

  .event_area {
    position: relative;
    min-height: 1100px;
    padding: 30px 60px;
  }
  .event_area .event_tab li {
    margin: 3px 20px 20px 0;
  }

  .tab_content {
    max-width: 1200px;
  }
  .tab_content .event_ing_wrap {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .event {
    margin-right: 90px;
  }
  .event:nth-child(3n) {
    margin-right: 0;
  }
}

/*# sourceMappingURL=event_v2.css.map */
