/* main_v2.css */
html, body {
  color: #171717;
  font-weight: 400;
}

#wrap {
  width: 100%;
  height: auto;
}

#headBox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 150px;
  padding: 30px 100px;
  background-color: rgba(255, 255, 255, 0.8);
}

@media all and (max-width: 1279px) {
  h1 {
    width: 170px;
    height: 40px;
  }
  h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../img/logo-cubeme-text.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  h1 a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  #navigation {
    display: none;
  }

  #hand_nav {
    display: block;
    display: flex;
    justify-content: space-between;
    width: 230px;
    height: 40px;
  }
  .hand_language {
    position: relative;
    width: 40px;
    height: 40px;
    background-image: url(../../img/global_1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .hand_language > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .hand_language ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
  }
  .hand_language ul li {
    margin-bottom: 5px;
  }
  .hand_language a {
    display: none;
    width: 50px;
    height: 20px;
    font-size: 14px;
  }
  .hand_language:hover ul {
    display: block;
  }
  .hand_language:focus ul {
    display: block;
  }

  #hand_nav .hand_search {
    width: 40px;
    height: 40px;
    background-image: url(../../img/search.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  #hand_nav .hand_search > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #hand_nav .hand_cart {
    width: 40px;
    height: 40px;
    background-image: url(../../img/cart.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  #hand_nav .hand_cart > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  #hand_nav .hand_menu {
    width: 40px;
    height: 40px;
    background-image: url(../../img/menu.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  #hand_nav .hand_menu > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@media all and (min-width: 1280px) {
  h1 {
    width: 170px;
    height: 60px;
  }
  h1 a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../img/logo-cubeme-text.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  h1 a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  #naviagtion {
    display: block;
  }

  #hand_nav {
    display: none;
  }

  #gnb ul {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 40px;
    margin: auto;
    margin-top: 50px;
  }
  #gnb ul li {
    width: auto;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
  }

  .unb {
    width: 300px;
    height: auto;
  }
  .unb_btn {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 30px;
    margin: auto;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  .unb_btn > li {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    margin-right: 8px;
    padding-right: 8px;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
  }
  .unb_btn > li::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    width: 1px;
    height: 15px;
    background-color: #999;
  }
  .unb_btn > li:last-child::after {
    display: none;
  }
  .unb_btn .unb_language {
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: 30px;
    background-image: url(../../img/global_1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .unb_btn .unb_language > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .unb_lauguage_area {
    display: none;
    position: absolute;
    z-index: 10;
    top: 30px;
    left: -50px;
    width: 100px;
    height: auto;
    background-color: #efefef;
  }
  .unb_lauguage_area li {
    margin: auto;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .unb_lauguage_area li a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .unb_lauguage_area li a:hover {
    background-color: #ddd;
  }

  .unb_btn .unb_sign {
    color: #E13100;
  }

  .unb_search_area {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    margin: auto;
    margin-right: 10px;
  }
  .unb_search {
    position: relative;
    width: 160px;
    height: 30px;
    margin: auto;
    margin-right: 10px;
    border-radius: 15px;
  }
  .unb_search #search_bar {
    width: 160px;
    height: 30px;
    border-radius: 15px;
    text-indent: 8px;
    background-color: #ebebeb;
  }
  .unb_search .unb_search_icon {
    position: absolute;
    top: 4px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
  .unb_search .unb_search_icon button {
    width: 100%;
    height: 100%;
    background-image: url(../../img/search.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .unb_search .unb_search_icon button > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .unb_cart {
    width: 24px;
    height: 24px;
    margin: auto;
    margin-top: 3px;
  }
  .unb_cart a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../img/cart.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .unb_cart a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@media all and (max-width: 1279px) {
  #footBox {
    width: 100%;
    height: 400px;
    padding: 70px 60px;
    background-color: #1c1c1c;
  }

  .foot_top_area {
    width: 100%;
    height: 120px;
    margin: auto;
    margin-bottom: 40px;
  }
  .foot_top_area h2 {
    width: 112px;
    height: 30px;
    margin-bottom: 60px;
    background-image: url(../../img/footer-logo-text.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_top_area h2 > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .foot_top_area .foot_top_btn {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 30px;
    margin: auto;
    font-size: 16px;
    text-align: left;
    color: #ddd;
  }
  .foot_top_area .foot_top_btn > div {
    margin-right: 20px;
    line-height: 30px;
  }
  .foot_top_area .foot_top_btn > div:last-child {
    margin-right: 0;
  }

  .foot_main_area {
    position: relative;
    width: 600px;
    height: auto;
    margin: auto;
  }
  .foot_main_area .foot_main_btn {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 30px;
    font-size: 16px;
    text-align: left;
    color: #ddd;
    margin-bottom: 30px;
  }
  .foot_main_area .foot_main_btn li {
    position: relative;
    margin-right: 15px;
    padding-right: 20px;
  }
  .foot_main_area .foot_main_btn li:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .foot_main_area .foot_main_btn li::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 3px;
    height: 3px;
    background-color: #ddd;
  }
  .foot_main_area .foot_main_btn li:last-child::after {
    display: none;
  }
  .foot_main_area .foot_main_btn .foot_personal {
    font-weight: 700;
  }
  .foot_main_area .foot_main_btn a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .foot_main_area .foot_info p {
    display: none;
  }
  .foot_main_area .foot_info p.copyright {
    display: block;
    width: 336px;
    height: auto;
    margin: auto;
    color: #ddd;
  }
  .foot_main_area .foot_bottom_btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: auto;
  }
  .foot_main_area .foot_bottom_btn li {
    margin-right: 20px;
  }
  .foot_facebook a {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/facebook.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_facebook a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .foot_instagram a {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/instagram.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_instagram a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@media all and (min-width: 1280px) {
  #footBox {
    width: 100%;
    height: 600px;
    padding: 70px 60px;
    background-color: #1c1c1c;
  }
  .foot_top_area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin: auto;
    margin-bottom: 30px;
  }
  .foot_top_area h2 {
    width: 112px;
    height: 30px;
    background-image: url(../../img/footer-logo-text.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_top_area h2 > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
  .foot_top_area .foot_top_btn {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 30px;
    font-size: 16px;
    text-align: left;
    color: #ddd;
  }
  .foot_top_area .foot_top_btn > div {
    margin-right: 20px;
    line-height: 30px;
  }
  .foot_top_area .foot_top_btn > div:last-child {
    margin-right: 0;
  }

  .foot_main_area {
    position: relative;
    width: 100%;
    height: 300px;
    margin: auto;
  }
  .foot_main_area .foot_main_btn {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 30px;
    font-size: 16px;
    text-align: left;
    color: #ddd;
  }
  .foot_main_area .foot_main_btn li {
    position: relative;
    margin-right: 10px;
    padding-right: 15px;
  }
  .foot_main_area .foot_main_btn li:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .foot_main_area .foot_main_btn li::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 3px;
    height: 3px;
    background-color: #ddd;
  }
  .foot_main_area .foot_main_btn li:last-child::after {
    display: none;
  }
  .foot_main_area .foot_main_btn .foot_personal {
    font-weight: 700;
  }
  .foot_main_area .foot_main_btn a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .foot_main_area .foot_info {
    width: 600px;
    height: 250px;
    margin-top: 40px;
  }
  .foot_main_area .foot_info p {
    display: block;
    margin-bottom: 20px;
    color: #ddd;
  }
  .foot_main_area .foot_info p:last-child {
    margin-bottom: 0;
  }
  .foot_main_area .foot_bottom_btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: auto;
  }
  .foot_main_area .foot_bottom_btn li {
    margin-right: 20px;
  }
  .foot_facebook a {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/facebook.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_facebook a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .foot_instagram a {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../../img/instagram.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .foot_instagram a > span {
    display: block;
    position: absolute;
    z-index: -1;
    clip: rect(0 0 0 0);
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
#viewBox {
  width: 100%;
  height: 600px;
  margin-top: 150px;
  padding: 20px 50px;
}

/*# sourceMappingURL=main_v2.css.map */
