// z_01_practice_event_modal.scss
/* z_01_practice_event_modal.css */
@import "../common/variable";
@import "../common/mixin";

#wrap {  width: 100%; height: auto; min-height: 500px; padding: 0 100px; }
#headBox { width: 100%; height: 100px; background-color: #eee;
  h1 { font-size: 1.2rem;}
}

#contentBox { width: 100%; height: auto;
  @at-root .content_title { width: 100%; height: 250px; background-color: #ddd; 
    padding: 100px 20px;
    span { width: 944px; height: auto; 
      margin: auto;
      text-transform: capitalize; font-size: 40px;
    }
  } // .content_title
  @at-root .content_area {
    width: 940px; height: auto; min-height: 500px; margin: auto; margin-top: 50px;
    .year_area {
      display: flex; justify-content: space-between;
      width: 300px; height: auto; font-size: 1.1rem;
      a { @include full;}
      a:focus{ border: 1px solid #1A5D54;}
      a:hover{ background-color: #1A5D54; color: #fff;}
    }
    .content_part {
      width: 100%; height: auto; margin-top: 50px;
      li { width: 100%; height: 200px; margin-bottom: 30px; 
        border-radius: 0.25rem;
        background-color: #fdd;
        a { @include full; border-radius: 0.25rem;}
        a:focus { border: 2px solid #b88;}
        a:hover { background-color: #b88; }
      }
    } // .content_part
  } // .content_area
} // #contentBox

.modal {
  display: none;
  position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 100;
  width: 70%; height: 60%;
  margin: auto; padding: 1rem; border-radius: 0.25rem;
  background-color: #fff;
  span { font-size: 28px;}
  hr { margin-bottom: 50px;}
  button {
    position: absolute; top: 1rem; right: 3%;
    width: 2rem; height: 2rem;
    border-radius: 2rem; background-color: #1A5D54; color: #fff;
    font-size: 0.75rem;
  }

}

