// z_02_practice_ad.scss
$width: 800px;
$len: 4;

#wrap {
  width: 100%; height: auto;
  margin: auto;
  padding: 0 40px;
}

#headBox{ 
  width: 100%; height: 80px; margin: auto; margin-bottom: 30px;
  h1 { font-size: 1.2rem; font-weight: 700;}
}

#viewBox {
  width: 100%; height: auto; min-height: 300px;

  .view_area {
    position: relative;
    width: calc($width * $len); height: 400px; margin: auto;

    .btn {
      // display: flex;
      position: absolute;
      z-index: 50; top: 50%; 
      width: $width; height: 50px;
      transform: translateY( -calc($width / 2) );
      // margin-top: -$width;
      >div {
        position: absolute;
        width: 50px; height: 50px;
        background-color: #ccc;
      }

      .after_btn { right: 0; }
      .before_btn { left: 0;}
    }

    ul {

      width: 100%; height: 100%;

      li { 
        position: absolute; top: 0;left: 0;
        width: $width; height: 400px;
        
        &.on { z-index: 10; display: block;}

      }
      .view_01{ display: none; background-color: #D04AA6dd;}
      .view_02{ display: none; background-color: #D23100dd;}
      .view_03{ display: none; background-color: #B5FF9Ddd;}
      .view_04{ display: none; background-color: #38FF01dd;}

    }
  }
}