// navigation.scss

.gnb ul {
  display: flex; justify-content: space-between;
  width: 780px; height: 120px;
  font-size: 18px; font-weight: 700;
  // line-height: 120px;
  li {
    width: auto; height: 30px; margin: auto;
  }
}

.underline {
  position: absolute; top: 0; left: 0;
  width: 0; height: 2px;
  background-color: #ff592e;
  transition: all 500ms;
}