// navigation.scss
@import './common/variable';

.gnb {
  position: relative; z-index: 10;
  display: flex; justify-content: space-between;
  width: 800px; height: auto;
  // line-height: 120px;
  &:hover .gnb_sub {
    display: block;
  }
  > li {
    position: relative;
    width: auto; height: 30px; margin: auto;
    text-align: left;
    
    &:hover {
      color: $color_primary;
    }
    > a:focus {
      color: $color_primary;
    }
    > a {
      font-size: 18px; font-weight: bold;
    }
  } // .gnb li
} // .gnb

.gnb_sub {
  display: none;
  position: absolute; top: 0px; left: 0; z-index: -1;
  width: 125px;
  padding-top: 50px;
  // margin-top: 20px;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: $color_black;

  &:hover { display: block;}

  li {
    margin-top: 10px;
    &:first-child {margin-top: 0;}
    &:hover { color: $color_primary;}
  }
}

.underline {
  position: absolute; top: 80px; left: 0;
  width: 0; height: 2px;
  background-color: $color_primary;
  transition: all 500ms;
}