@charset "UTF-8";
// section.scss

@import './common/variable';
@import './common/mixin';

@keyframes slideUp {
  from{
    top: 400px;
    opacity: 0;
  }
  to{
    top: 200px;
    opacity: 1;
  }
}
@keyframes slideDown {
  from{
    top: 200px;
    opacity: 1;
  }
  to{
    top: 600px;
    opacity: 0;
  }
}

.text_slide_up {
  animation: slideUp 1s ease-out forwards;
}
.text_slide_down {
  animation: slideDown 1s ease-out forwards;
}

// -----------------------------------------------------------------------
#viewBox {
  width: 100%; max-width: 1920px; height: auto;
  background-color: #fbf4e4;
}
.view_wrap {
  overflow-x: hidden;
}

.red {
  color: $color_red;
}
.red_stroke {
  -webkit-text-stroke: 2px $color_red;
  color: transparent;
}

.view_01 {
  position: relative;
  width: 100%; height: 896px;
  h2 {
    display: flex; flex-direction: column; 
    position: absolute; top: 50px; right: 50px; z-index: 1;
    // width: 700px; height: auto;
    text-align: left;
    font-size: 100px; font-weight: 700;
  } // h2


  .view_01_img {
    position: absolute; top: 300px; left: 50px;
    width: 1040px; height: 612px;
    background-image: url(../image/img_first.jpg);
  }

  circle {
    width: 156px; height: 156px;
  }
  text {
    transform: rotate(180deg);
  }

} // .view_01 ===============================================================

.view_02 {
  position: relative;
  width: 100%; height: 1176px;
  margin-top: 200px;

  // text뒤로 사진이 가기 위해 position 사용
  .view_02_text_wrap {
    position: absolute; z-index: 10; top: 200px; left: 0; right: 0;
    margin: auto;
    // animation: slideUp 1s ease-out;
  }
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .view_02_big{
    margin-bottom: 80px;
    font-size: 120px; font-weight: 900;

  }
  .view_02_normal {
    font-size: 20px;
  }
  

  .circle_01 {
    position: absolute; top: 0; right: -200px;
    width: 419px; height: 424px;
    @include img('circle_img.png');
  }
  .circle_02 {
    position: absolute; left: -77px; bottom: 150px;
    width: 300px; height: 300px;
    @include img('circle_big.svg');
  }
  .circle_03 {
    position: absolute; left: 200px; bottom: 100px;
    width: 77px; height: 61px;
    @include img('circle_small.svg');
  }
} // .view_02 ===============================================================

.view_03 {
  position: relative;
  width: 100%; height: 1080px;
  padding: 200px 0;
}

.view_03_text_wrap {
  width: auto; height: auto;
  margin: auto;
  h2 {
    width: auto; height: auto;
    margin: auto; margin-bottom: 40px;
    font-size: 2.5vw; // 1440기준 36px
    font-weight: 700;
    color: $color_blue;
  }
  p {
    width: auto; height: auto;
    margin: auto;
    font-size: 4.167vw; // 1440기준 60px
    font-weight: 700;
    color: $color_blue;
  }
}

.view_03_bg {
  position: absolute; bottom: 0; left: 0; right: 0;
  width: 100%; height: 490px;
  @include img('bg_dal_story.svg', $size: cover)
}

// .view_03 ===============================================================

.view_04 {
  position: relative; z-index: 1;
  width: 100%; height: 1080px;
  overflow: hidden;
} // .view_04

.view_04_text_wrap {
  position: absolute; 
  width: 100%; height: auto;
  margin: auto;
  padding: 120px;
  h2 {
    margin-bottom: 40px;
    font-size: 4.51vw; // 1440기준 65px
  }
  p {
    font-size: 20px;
  }
}

.view_04_rectangle {
  position: absolute; z-index: -1;
  top: 200px; left: -200px;
  width: 520px; height: 350px;
  @include img('img_play_01.jpg', $size: cover)
}

.view_04_circle {
  position: absolute; z-index: -1;
  top: 300px; right: -100px;
  width: 400px; height: 400px;
  border-radius: 300px;
  @include img('img_play_02.jpg', $size: cover)
}

.view_04_pentagon {
  position: absolute; z-index: -1;
  bottom: 50px; left: 0; right: 0;
  width: 400px; height: 350px;
  margin: auto;
  clip-path: polygon(65% 0, 100% 10%, 100% 100%, 0 100%, 0 40%); // clip-path로 오각형 도형 만들기
  @include img('img_play_03.jpg', $size: cover);
}

// .view_04 ================================================================

.view_05 {
  position: relative;
  width: 100%; height: auto;
  padding-top: 200px;
}

.view_05_text_wrap {
  width: auto; height: auto;
  margin: auto; 
  margin-bottom: 250px;
  h2 {
    margin-bottom: 30px;
    font-size: 4.51vw; // 1440기준 65px
  }
  p {
    font-size: 20px;
  }
}

.img_moving {
  position: relative; bottom: 0;
  width: 100%; height: 475px;

  .sliding_menu {
    position: absolute; z-index: 1;
    left: 0;
    width: 400%; height: 375px;
    @include img('menu.png', $repeat: repeat-x); // repeat-x 를 통해서 애니메이션이 이동할때 무한으로 도는듯한 느낌
    animation: sliding_menu 20s linear infinite;
  }

  .bottom {
    position: absolute; bottom: 0; z-index: 0;
    width: 100%; height: 300px;
    background-color: $color_white;
  }
}

@keyframes sliding_menu {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 3567px 0;
  }
}

// .view_05 ================================================================

.view_07 {
  width: 100%; height: 800px; 
  padding: 170px;
  background-color: $color_cobalt;
  @include img('bg_supporter.png', $size: cover)
} 

.view_07_text_wrap {
  width: auto; height: auto;
  margin: auto; margin-bottom: 80px;
  h2 {
    margin: auto; margin-bottom: 40px;
    font-size: 4.167vw; // 1440기준 60px
    font-weight: 700;
    color: $color_white;
  }
  p {
    margin: auto;
    font-size: 1.8vw; // 1440기준 26px
    font-weight: 400;
    color: $color_white;
  }
} // .view_07_text_wrap

.franchisee {
  width: 280px; height: 70px;
  border-radius: 8px;
  background-color: $color_tomato;
  font-size: 20px;
  line-height: 70px;
  color: $color_white;
}
// .view_07 ===============================================================
